
<html>
    <head>
        <title>  Baby's first Django blog </title>
    </head>
    <body style="background-color:powderblue;">
        <div>
            <h1><center><a href="">Django Girls Blog</a></center></h1>
        </div>

        <div> <center>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Hello world!</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> </center>
        </div>

        <div> <center>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Another post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
         </center></div>
    </body>
</html>
